@tailwind base;
@tailwind components;
@tailwind utilities;

$navbarVerPadding: 1px;

.navbar {
    color: white;
    background-color: black;
    margin: 0px;
    padding: $navbarVerPadding 0px $navbarVerPadding 0px;
}