@import '../variables';

$navbarVerPadding: 15px;
$navbarColor: rgb(240, 240, 240);
$navbarTitleImageSize: 50px;

.navbar {
    background-color: $navbarColor;
    margin: 0px;
    padding: 0px 30px 0px 30px;
    height: 70px;
    display: flex;
    align-items: center;
    filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));

    .title-image {
        flex-shrink: 0;
        border-radius: 100%;
        margin: 0px 10px 0px 10px;
        width: $navbarTitleImageSize;
        height: $navbarTitleImageSize;
    }

    .title-text {
        margin: 0px 10px 0px 10px;
        font-size: 22px;
        color: black;
    }

    .pages {
        display: flex;
        margin-left: 40px;

        .page {
            margin-left: 10px;
            margin-right: 10px;
            padding: 6px 10px 6px 10px;
            font-size: 18px;
            color: rgb(20, 20, 20);
            text-decoration: none;
            transition: color 0.3s ease-in-out;
        }
        
        .page:hover {
            color: cadetblue;
        }
    }
}